# Laravel
/node_modules
/public/storage
/storage/*.key
/storage/framework/sessions
/vendor
.env

# Mac OS
.DS_Store

# PhpStorm
.idea

# Sublime Text
*.sublime-*

# Netbeans
*nbproject*

# App specific
/storage/uploads
/storage/app

# Laradock
/laradock/data
/laradock/logs
laradock/postgres/data